<div id="title">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <p> {{email}} </p>
</div>

<section class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum esse perferendis reprehenderit nam animi tenetur omnis dolorem numquam blanditiis eaque quo eum porro beatae, at harum obcaecati doloremque dolor ab.
        Vel eum quo quam in necessitatibus culpa eveniet et ab vero fugit laboriosam ducimus eos quibusdam repellat architecto, voluptatum doloremque minima! Placeat modi ipsa nulla similique quasi, cupiditate at commodi.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum esse perferendis reprehenderit nam animi tenetur omnis dolorem numquam blanditiis eaque quo eum porro beatae, at harum obcaecati doloremque dolor ab.
        Vel eum quo quam in necessitatibus culpa eveniet et ab vero fugit laboriosam ducimus eos quibusdam repellat architecto, voluptatum doloremque minima! Placeat modi ipsa nulla similique quasi, cupiditate at commodi.
    </p>
</section>